/* GENERAL ELEMENTS */

td a {
    display:block;
    width:100%;
    text-decoration: inherit;
    color: inherit;
}


/* TITLE BAR */

.navigationIcon {
    height: 5vh;
    width: 5vh;
    background-size: cover;
    float:left;
}

.title {
    width: calc(100vw - 12vh);
    padding-top: 1vh;
    padding-bottom: 1vh;
    float:left;
}



/* GALLERY */

.gallery {
    height: 30vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
}

.galleryTable {
    width: 100%;
}

.galleryNavigationPrevious {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    text-align: left;
}

.galleryNavigationNext {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    text-align: right;
}

/* CONTENT */
.content {

}


/* LINK BAR */

.links {
    display: block;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 4%;
    padding-right: 4%;
}

.linksTable {
    border-top: thin solid #2A2A2A;
    border-bottom: thin solid #2A2A2A;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    font-size: 1.3vh;
    width: 100%;
}

.linkIcon {
    height: 3vh;
    width: 3vh;
    background-size: cover;
}


/* BAR NAME & DESCRIPTION */

#closeIcon {
    visibility: hidden;
}

.barInfo {
    display: block;
    color: #CFCFCF;
    padding-top: 4vh;
    padding-bottom: 1.5vh;
    padding-left: 10%;
    padding-right: 10%;
}

.barName {
    font-size: 3.1vh;
    padding-bottom: 0.5vh;
}

.barDesc {
    font-size: 1.5vh;
}



/* MENU */

/* Menu Switch */

.menu {
    padding-left: 4%;
    padding-right: 4%;
}

.menuSwitch {
    display: block;
    margin-bottom: 2vh;
}

.menuSwitchTable {
    font-size: 2vh;
    width: 100%;
    table-layout: fixed;
}

.menuSwitchTable .colNormal {
    height: 5vh;
    color: #83758F;
    border-bottom: thin solid #2A2A2A;
}

.menuSwitchTable .colHighlighted {
    color: #55C8E3;
    border-top: thin solid #2A2A2A;
    border-left: thin solid #2A2A2A;
    border-right: thin solid #2A2A2A;
}

.menuSwitchIcon {
    height: 5vh;
}

/* Menu Header */

.menuHeader {
    font-size: 2.5vh;
    padding-bottom: 2vh;
}

/* Menu Body */

.menuBody {
    display: block;
    height: 34.3vh;
    overflow: scroll;
}

.menuTable {
    width: 100%;
    font-size: 1.9vh;
}

.menuTable td {
    padding: 0.8vh;
    border-bottom-color: #2A2A2A;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.menuTable .firstCol {
    text-align: left;
    color: #83758F;
    width: 60%;
}

.menuTable .secondCol {
    text-align: center;
    color: #83758F;
    width: 20%;
}

.menuTable .thirdCol {
    text-align: right;
    color: #55C8E3;
    width: 20%;
}



/* OPTIMIZATION FOR WEB */

@media screen and (orientation: landscape) {
    .gallery {
        float:left;
        width: calc(90vw - 30vh);
        height: 92.3vh;
        padding: 0;
    }

    .galleryNavigation {
        float:left;
        height: inherit;
    }

    .content {
        float:left;
        width: calc(10vw + 30vh);
        height: 92.4vh;
    }

    #backIcon {
        visibility: hidden;
    }

    #closeIcon {
        visibility: visible;
    }

    .menuBody::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}