body {
    background-color: #202020;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --main-width: min(35em, 100vw);
}

/* HEADER */

.header #btn-back {
    background-image: url("../media/icons/left-arrow_white.png");
    background-size: cover;
}

.background{
    display: grid;
    height: 50%;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

.city{
    max-width: 100%;
    margin-top: auto;
}


/* MAIN CONTENT */

.main {
    width: var(--main-width);
    margin-left: calc((100vw - var(--main-width))/2);
    margin-right: calc((100vw - var(--main-width))/2);
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    background-color: var(--col-background-dark);
}


/* GALLERY */

.gallery {
    display: flex;
    opacity: 1;
    overflow: visible;
    width: 100%;
    height: 15em;
    background-position: center;
    background-size: cover;
}

.gallery .nav {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.gallery #nav-prev {
    justify-content: flex-start;
    background: linear-gradient(+90deg, black 0%, transparent 50%);
}

.gallery #nav-next {
    justify-content: flex-end;
    background: linear-gradient(-90deg, black 0%, transparent 50%);
}

.gallery .icon {
    width: 2em;
    height: 2em;
    color: var(--col-primary);
}


/* CONTENT (INCL. BAR NAME, DESCRIPTION, TAGS & MENU) */
.content {
    padding-left: 0.75em;
    padding-right: 0.75em;
    position: relative;
    top: -4em;
    padding-top: 2em;
    background: linear-gradient(-180deg, rgba(27, 27, 27, 0) 0, rgba(27, 27, 27, 100) 4em);
}



/* BAR HEADER (TITLE & LINKS */

.bar-header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: block;
}

.bar-header #name {
    padding-top: 0.3em;
    padding-right: 0.4em;
    color: var(--col-highlight);
    font-size: 2em;
    overflow: hidden;
}

.bar-header #buttons {
    float: right;
}

.bar-header #buttons .btn {
    border-width: 0;
    background-color: var(--col-background-highlight);
    width: 3em;
    height: 3em;
    border-radius: 3em;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    margin: 0.25em;
    display: inline-block;
}

.bar-header #buttons .icon {
    width: 100%;
    height: 100%;
}


/* BAR NAME & DESCRIPTION */

.bar-info {
    width: 100%;
    display: inline-block;
}

.bar-info #desc {
    padding-top: 0.7em;
    color: var(--col-primary);
    font-size: 0.9em;
}



/* MENU WITH DRINKS */

.menu {
    display: inline-block;
    padding-top: 2.5em;
}


.menu #tabs table {
    font-size: 0.7em;
    table-layout: fixed;
    border-top: thin solid var(--col-background);
    border-bottom: thin solid var(--col-background);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.menu #tabs .tab_icon_active, .tab_icon_inactive {
    width: auto;
    height: 2.3em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}

.menu #tabs .tab_icon_active {
    display: none;
}

.menu #tabs .tab_cell {
    color: var(--col-secondary);
}

.menu #drinks .menu-title {
    padding: 2.2em 0em 0.5em 0em;
    text-align: center;
}

.menu #drinks table {
    border-spacing: 0;
    text-align: center;
    font-size: 1.0em;
}

.menu #drinks th {
    vertical-align: bottom;
    font-size: 0.7em;
    color:var(--col-secondary);
    text-align: center;
    font-weight: normal;
    padding: 0.3em;
}

.menu #drinks td {
    padding: 0.3em;
}

.menu #drinks tr:nth-child(even) {
    background: var(--col-background)
}

.menu #drinks .col-drink {
    width: 79em;
    text-align: left;
    color: var(--col-primary);
}

.menu #drinks .col-normal {
    width: 7em;
    text-align: center;
    color: var(--col-primary);
}

.menu #drinks .col-highlight {
    width: 7em;
    text-align: center;
    color: var(--col-highlight);
}


/* OPTIMIZATION FOR PORTRAIT MODE */

@media screen and (max-aspect-ratio: 4/5) {

    #logo-studvest,
    #btn-website,
    #btn-call {
        display: none;
    }

    .bar-header #name{
        width: calc(100% - 2.5em);
    }
}
