/* GENERAL ELEMENTS */

td a {
    display:block;
    width:100%;
}


/* NAVIGATION */

.navigationIcon {
    height: 5vh;
    width: 5vh;
    background-size: cover;
    float:left;
    fill: red;
}


/* GALLERY */

.gallery {
    height: 30vh;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    overflow: visible;
}

.galleryNavigation {
    display: flex;
    width: 100%;
    height: 100%;
}

.galleryNavigationPrevious {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor:pointer;
}

.galleryNavigationNext {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor:pointer;
}

/* CONTENT */
.content {

}


/* LINK BAR */

.links {
    display: block;
    height: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 4%;
    padding-right: 4%;
}

.linksTable {
    border-top: thin solid #2A2A2A;
    border-bottom: thin solid #2A2A2A;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    font-size: calc(1.6vh - 0.2vw);
    width: 100%;
    text-align: center;
    table-layout: fixed;
}


.linkIcon {
    height: calc(4.5vh - 0.5vw);
    width: calc(4.5vh - 0.5vw);
    background-size: cover;
}


/* BAR NAME & DESCRIPTION */

#closeIcon {
    visibility: hidden;
}

.barInfo {
    display: block;
    color: #CFCFCF;
    padding-top: 3vh;
    padding-bottom: 1.5vh;
    padding-left: 10%;
    padding-right: 10%;
}

.barName {
    font-size: calc(5vh - 1vw);
    padding-bottom: 0.5vh;
    text-align: center;
}

.barDesc {
    font-size: calc(2.5vh - 0.5vw);
    text-align: center;
}



/* MENU */

/* Menu Switch */



.menuSwitch {
    display: block;
    margin-bottom: 2vh;
}

.menuSwitchTable {
    font-size: calc(2.7vh - 0.5vw);
    width: 100%;
    table-layout: fixed;
    cursor: pointer;
}

.menuSwitchTable .colNormal {
    height: 5vh;
    color: #838383;
    border-bottom: thin solid #2A2A2A;
    text-align: center;
}

.menuSwitchTable .colHighlighted {
    color: #55C8E3;
    border-top: thin solid #2A2A2A;
    border-left: thin solid #2A2A2A;
    border-right: thin solid #2A2A2A;
    text-align: center;
}

.menuSwitchIcon {
    height: 5vh;
}



/* Menu Body */

.menuBody {
    display: block;
}

.menuBody::-webkit-scrollbar {
    display: none;
}

.menuTable {
    width: 100%;
    font-size: calc(2.7vh - 0.5vw);
    border-spacing: 0;
}

.menuTable td {
    padding: 0.8vh;
}

.menuTable tr:nth-child(odd) {
    background: #2B2B2B
}

.menuTable .firstCol {
    text-align: left;
    padding-left: 4vw;
    color: #838383;
    width: 60%;
}

.menuTable .secondCol {
    text-align: center;
    color: #838383;
    width: 20%;
}

.menuTable .thirdCol {
    text-align: right;
    padding-right: 4vw;
    color: #55C8E3;
    width: 20%;
}



/* OPTIMIZATION FOR WEB */

@media screen and (orientation: landscape) {
    .gallery {
        float:left;
        width: calc(90vw - 30vh);
        height: 92.2vh;
        padding: 0;
    }

    .galleryNavigation {
        float:left;
        height: inherit;
    }

    .content {
        float:left;
        width: calc(10vw + 30vh);
        height: 92.2vh;
    }

    #backIcon {
        visibility: hidden;
    }

    #closeIcon {
        visibility: visible;
    }

    .menu {
        padding-left: 4%;
        padding-right: 4%;
    }

    .menuTable .firstCol {
        padding: 0.8vh;
    }

    .menuTable .thirdCol {
        padding: 0.8vh;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}