:root {
  --main-width: min(60em, 100%);
}


.background{
  display: grid;
  height: 50%;
  position: fixed;
  z-index: -1;
  bottom: 0;
}

.city{
  max-width: 100%;
  margin-top: auto;
}

h1{
  color: #e3e3e3;
}

.wrapper {
  display: grid;
  grid-template-row: 50% 50%;
  width: var(--main-width);
  margin: auto;
  margin-top: 2em;
}

.bar-container {
  height: 18em;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 0.3em;
  box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
  margin: 1em;
}

.bar-container .bar-details{
  position: absolute;
  background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  height: 5em;
  /*width: calc(var(--main-width) / 2 - 1.4em);*/
  bottom: 0px;
  padding: 0.7em;
}


.bar-container .bar-details .bar-name {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.ellipse .barlogo img {
  position: absolute;
  width: 100px;
  height: 80px;
  top: 7px;
  left: 0;
}

.underline {
  position: relative;
  border-bottom: thin solid #2C7090;
  color: #CFCFCF;
  margin-bottom: 40px;
}

@media only screen and (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .bar-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-content: space-around;
  }

}

#btn-back {
  visibility:hidden;
}
