:root {
    --main-width: min(100em, calc(100vw - 2em - 2em));
    --main-width-popup: min(75em, 60vw);

}

body {
  font-size: 0.9em;
  position: absolute;
  width: 100vw;
  overflow-y: hidden;
  margin-top: -19px;
}

#body-main {
    text-align: center;
}

#body-add {
    text-align: left;
}

h1{
    font-size: 1.5em;
    color: var(--col-highlight);
    margin-top: 0;
    font-style: normal;
    font-weight: normal;
}

table {
    font-size: 0.9em;
}



/** HEADER **/

.header {
    background-color: grey;
}



/** BASIC STRUCTURE **/

#main{
    width: var(--main-width);
    height: calc(100vh - 3.5em - 2em - 2em); /** 3.5em is the height of the header, 2em the padding **/
    margin: 0 auto;
    background-color: var(--col-background);
    padding: 2em;
    z-index: -1;
}

#wrapper{
    padding: 2em;
}

#left-column {
    width: 30em;
    float: left;
    margin: 0;
    padding-right: 2em;
}

#right-column {
    width: calc(100% - 2em - 30em);
    height: 100%;
    float: left;
    margin: 0;
}

@media only screen and (max-width: 80em) {

    #left-column, #right-column {
        width: 100%;
    }
}

#right-column h1 {
    float: left;
}

#right-column .drink-menu {
    max-height: calc(100% - 11em);
    width: 100%;
    display: inline-block;
    margin: 0;
    overflow-y: scroll;
}

.footer {
    position: absolute;
    z-index: 10;
    bottom: 5vh;
    width: var(--main-width);
    text-align: center;
}




/** BUTTONS **/

.modify, .delete, .add, .transparent {
    outline: none;
    border-radius: 3px;
    background-color: inherit;
    cursor: pointer;
    padding:0.3em;
    width: 4em;
    margin: 0em 0.2em;
    font-size: 0.8em;
}

.modify{
    border: var(--col-yellow) solid 1px;
    color: var(--col-yellow);
}

.delete{
    border: var(--col-red) solid 1px;
    color: var(--col-red);
}

.add{
    color: var(--col-green);
    border: var(--col-green) solid 1px;
}

.transparent{
    color: transparent;
    border: transparent;
}

.modify:disabled, .delete:disabled, .add:disabled {
    opacity: 0.2;
}

.btn-nav {
    display:inline;
    margin: 0.5em;
    border-radius: 3px;
    background-color: transparent;
    padding: 0.3em 0.5em;
    color: var(--col-secondary);
    border: var(--col-secondary) solid 1px;
    cursor: pointer;
}

#btn-nav-save {
    float: right;
    margin: 0;
}

.btn-close {
    top: 1em;
    right: 1em;
    position: absolute;
    display: block;
    width: 2em;
    height: auto;
    padding: 0;
    cursor: pointer;
}


/** LISTS **/

.list {
    margin-top: 2em;
    overflow-y:scroll;
    max-height: calc(50vh - 1.5em - 1.5em - 6em);
}

.list table {
    margin: 0 auto;
    text-align: left;
    border-spacing: 0;
    border-collapse: collapse;
    border-bottom: 1px solid var(--col-primary) ;
}

.list th {
    font-weight: bold;
    padding: 0.4em;
    position: sticky;
    top: 0;
    background-color: var(--col-background);
}

.list td {
    border-top: 1px solid var(--col-primary) ;
    border-left: none;
    border-right: none;
    padding: 0.4em;
}

.list .td-submit {
    padding-left: 0;
    padding-right: 0;
}

/** LOG OUT BUTTON **/

.logout {
  position: absolute;
  z-index: 2;
  width: 60px;
  left: 30px;
  top: 33px;
  }



/** POPUPS **/

.popup {
    height: max-content;
    width: max-content;
    max-width: calc(100vw - 4em);
    margin: auto;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--col-background);
    z-index: 1;
    border: 1px solid var(--col-primary);
    border-radius: 5px;
    padding: 1.5em;
}


/** FORM/SCROLL CONTROLS **/

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
}

.list input:disabled, select:disabled {
    background-color: transparent;
    border: none;
    color: var(--col-primary);
    padding-top: 0;
    padding-bottom: 0;
    opacity: 1;
}

.list input, select {
    background-color: var(--col-primary);
    border: none;
    color: var(--col-background-dark);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar{
    width:7px;
    background: rgba(000, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb{
    width: 7px;
    height: 5px;
    border-radius: 10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background:grey;
}




/** BAR DETAILS**/

.aboutBar {
    table-layout: fixed;
}

.aboutBar input, textarea {
    color: var(--col-primary);
    background: var(--col-background-dark);
    border: var(--col-background-dark);
    border-radius: 1px;
}

.aboutBar input {
    padding: 0.5em;
}

.aboutBar textarea {
    height: 20vh;
    padding: 0.5em 0.7em;
    font-family: 'Roboto', sans-serif;
}


/** DRINK MENU **/

.drink-menu-table {
    display: inline;
    float: left;
}

.drink-menu-table table {
    border: none;
}

.drink-menu-table tbody {
    display: block;
}

.drink-menu-table td, th {
    border: none;
}

.drink-menu-table tr:nth-child(even) {
    background-color: var(--col-background-dark);
}

.drink-menu-table .td-drink, .td-menu {
    width: 30%;
}

.drink-menu-table .td-menu {
    width: 20%;
}

.drink-menu-table .td-drink-type {
    width: 15%;
}

.drink-menu-table .td-vol, .td-price {
    width: 10%;
}

.drink-menu-table .input-vol, .input-price {
    text-align: right;
    padding-right: 1.65em;
    z-index:-1
}

.drink-menu-table .unit {
    margin-left: -1.65em;
    text-align: right;
}

.drink-menu-table .unit-active {
    color: var(--col-background-dark);
}


/* INFO */

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  display: none;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}



/* Position and style the close button (top right corner) */
#mySidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 90px;
  margin-left: 50px;
}


@media only screen and (max-width: 50em) {

    #left-column {
        width: 90%;
        height: auto;
        margin-bottom: 51px;
    }

    #right-column {
        width: 85%;
    }

    .btn {
        display: block;
        width: 98px;
        margin: 0 auto;
        padding: 5px;
        margin-top: 60px;
        border-radius: 8px;
        background-color: #222222;
        border-color: white;
        color: white;
        margin-bottom: 15px;
        bottom: 11px;
    }

    #popup_resolution_warning {
        display: block;
    }

    .main {
        filter: blur(6px);
    }


    .btn-nav, .td-submit, .td-drink_type, .td-menu {
        display: none;
    }

    .drink-menu-table td, th {
        /*border: 1px solid white;*/
    }

    #right-column {
        /*  border: red solid;*/
        width: 91vw;
    }

    .drink-menu-table {
        width: 85vw;
        margin: 0 auto;
        text-align: left;
        /*border: yellow solid;*/
        border-spacing: 0;
        border-collapse: collapse;
        border-bottom: 1px solid var(--col-primary);
    }

    .drink-menu-table tbody {
        height: 10%;
        /* width: 83vw; */
        display: block;
        block-size: blue solid;
    }

    .drink-menu-table tr {
        width: 100%;
    }


    .td-vol, .td-price, .td-price {
        padding: .4em;
        width: 22vw;
    }

    .drink-menu-table .td-drink {
        width: 27vw;
        padding-right: 3.5em;
    }

    datalist {
        width: 811px;
    }

    .drink-menu-table tr {
        width: 100%;
    }

    .drink-menu-table .td-drink, .td-menu {
        width: auto;
        padding-right: 4em;
    }

    .drink-menu-table .td-vol, .td-price {
        width: 30%;
    }

    #right-column .drink-menu {
        height: 451px;
    }
}
