@import "https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap";

:root {
    --color-background: #1B1B1B;
    --color-highlight: #3895A9;
}

body {
    background-color: #1B1B1B;
    font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    color: #CFCFCF;
    margin:0;
}

.titlebar {
    /*Total height: 6vh*/
    background-color: #2C7090;
    height: 5.6vh;
    padding: 1vh;
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;

    /*Text*/
    color: var(--color-background);
    font-size: 3.4vh;
    text-align: center;
}

.titlebar .backbutton {
    height: 5.6vh;
    width: 5.6vh;
    float: left;
}

.titlebar .applogo {
    height: 100%;
    width: calc(100vw - 5.6vh*2 - 1vh*2);
    float: left;
}

.titlebar #LeftArrow {
    fill: white;
    background-size: cover;
    height: 100%;
}

.titlebar .logo {
    height: 100%;
}


/* Hyperlinks */
a:link {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:active {
    color: inherit;
}


/* OPTIMIZATION FOR WEB */

@media screen and (orientation: landscape) {
    .titlebar {
        /*Total height: 7.6vh instead of 6vh*/
        height: 5.6vh;
        padding: 1vh;
        font-size: 3.4vh;
    }
}


/* OPTIMIZATION FOR MOBILE */

@media screen and (orientation: portrait) {
    #titlelogo_studvest {
        display: none;
    }
}